.header {
	background-color: #003680;
	display: flex;
	padding-top: 24px;
	justify-content: center;
	color: #fff;
	/* z-index: 1; */
}

.header-container {
	max-width: 1024px;
	width: 100%;
	position: relative;
}

.header-list {
	display: flex;
	margin-bottom: 70px;
}

.header-list-item {
	color: #fff;
	font-size: 14px;
	margin-right: 16px;
	padding: 10px 14px;
	cursor: pointer;
}

.header-list-item:hover {
	background-color: #1a498d;
	border-radius: 100px;
}

.header-list-item.active {
	border: 1px solid #fff;
	border-radius: 100px;
	background-color: #1a498d;
}

.header-list-item span {
	margin-left: 8px;
}

.title {
	font-size: 48px;
	/* margin-top: 70px; */
}

.description {
	font-size: 24px;
	padding-bottom: 64px;
}

.header-search {
	display: flex;
	height: 54px;
	align-items: center;
	background-color: #fff;
	color: #333;
	position: absolute;
	width: 100%;
	bottom: 0;
	transform: translateY(50%);
}

.date {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.hearder-search-item {
	border-width: 4px 3px;
	border-color: #f7bb16;
	border-style: solid;
	height: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding-left: 8px;
}

.hearder-search-item input {
	font-size: 16px;
	outline: none;
	border: none;
	color: black;
	margin-left: 8px;
	width: 100%;
	padding-right: 24px;
}

.hearder-search-item span {
	margin-left: 8px;
}

.hearder-search-item input::placeholder {
	color: black;
	font-weight: bold;
}

.hearder-search-item input:focus::placeholder {
	opacity: 0.6;
}

.hearder-search-item:last-child {
	flex: 0;
	padding-left: 0;
}

.hearder-search-item > button {
	width: 100%;
	height: 100%;
	padding: 0 32px;
	background-color: #0070c2;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.hearder-search-item > button:hover {
	background-color: #00487a;
}

.options {
	background-color: #fff;
	width: 350px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
	position: absolute;
	top: 52px;
	right: 0;
	transform: translateX(-20%);
	z-index: 2;
}

.options-item {
	display: flex;
	justify-content: space-between;
	padding: 8px 12px;
}

.options-text {
	font-size: 16px;
	font-weight: bold;
}

.options-counter {
	display: flex;
	border: 1px solid #333;
	/* padding: 4px 0; */
	align-items: center;
}

.options-counter button {
	background-color: transparent;
	width: 100%;
	height: 100%;
	color: #003680;
	padding: 8px 16px;
	/* margin: 0 12px; */
	font-size: 18px;
	border: none;
	outline: none;
	cursor: pointer;
}

.options-counter > span {
	padding: 0 8px;
	width: 30px;
}

.options-counter button:hover {
	background-color: #eff7fa;
}
